<!DOCTYPE html>
    <html>
    
    <head>
        <!-- <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
        <script type="text/javascript" src="https://cdn.boldbi.com/embedded-sdk/v6.1.8/boldbi-embed.js"></script>        
        <script type="text/javascript">
            $(document).ready(function(){
            this.dashboard = BoldBI.create(
                        { serverUrl:'{{server_url}}',
                         dashboardId:'{{dashboard_id}}',
                         embedContainerId: 'dashboard',
                         embedType:'component',
                         environment:'onpremise',
                         expirationTime: 100000,
                         authorizationServer:{url: "{% url 'get_embed_details'%}" },
                         dashboardSettings:{showExport: false,showRefresh: false,showMoreOption: false}
                        });
            console.log(this.dashboard);
            this.dashboard.loadDashboard();
                    });
        </script> -->
    </head>
    
    <body >
        <div id="viewer-section">
            <!-- <div id="dashboard"></div> -->
            API is running
        </div>
    </body>
    
    </html>